In [1]:
import os
os.getcwd()

'C:\\Users\\Ashok\\Desktop\\Text_Mining'

In [2]:
import pandas as pd
import numpy as np

In [3]:
#!pip install selenium

In [4]:
from selenium import webdriver

In [5]:
browser=webdriver.Chrome()

In [6]:
url='https://www.zomato.com/bangalore/great-food-no-bull'

In [7]:
browser.get(url)

In [8]:
#browser.find_element('//*[@class='res_title']')

In [9]:
titles=browser.find_elements_by_css_selector('div.res_title') #there are 153 restaurants in this web page
len(titles)

153

In [10]:
#from this tags we want all the info like restaurant names which are text, and it is there in clas also

In [11]:
for rest in titles:
    print(rest.text)

Loft
Let's Souffle
The Twisted Desi
Brew and Barbeque - A...
By Chance
Output Bengaluru
The Pallet
Olive Bar And Kitchen
ShakesBierre
The Pizza Bakery
The Big Barbeque
Sea Lions BBQ & Grills
Sixth Avenue Cafe And...
Sea Rock
Galito's
Kurtoskalacs
Brahmin's Coffee Bar
Chai Days
Milano Ice Cream
MISU
Sidewalk - The Garden Bar
Cloud Cafe
Chikkanna Tiffin Room
Byg Brewski Brewing Company
The Black Pearl
Malleshwaram Dosa Corner
Opus Food Stories
Punjab Grill
Saffron - Radisson Blu
Maziga
The Hole in the Wall Cafe
Toit
Dock Frost'd
Toast & Tonic
CTR
Burma Burma
Baar Union
Corner House Ice Cream
Punjab Grill
The Boozy Griffin
Melange - Radisson Blu
House Of Commons
Secret Of Bangalore
The Permit Room
Hard Rock Cafe
Chili's American Grill & Bar
Mavalli Tiffin Room (MTR)
Rolls & Bowls
3B's - Buddies, Bar &...
Food Coma
Onesta
O.G. Variar & Sons
Sant√© Spa Cuisine
The Fatty Bao - Asian...
One For The Road
The Globe Grub
Sharief Bhai
Flechazo
Polar Bear
XOOX Brewmill
Arbor Brewing Company
AB's - Absolute Barbecues
Simon Says Brew Works
Seven Ate Nine
Hunger Camp
Via Milano
Belgian Waffle Factory
Imperio Restaurant
Republic Of Noodles - Lemon...
The Terrace at Gilly's...
Bloomsbury's Global Kitchen...
Lot Like Crepes
Hammered
Fenny's Lounge And Kitchen
Arogya Ahaara
Birinz
Deja Vu Buffet Bar
Smoke House Deli
The Asian Curry House
Raghavendra Tiffin
Vanilla Sky
Stoner
Rim Naam - The Oberoi
1131 Bar + Kitchen
XO Belgian Waffle
Buff Buffet Buff
Vidyarthi Bhavan
Stories
Communiti
Black Deer
The Blue Wagon - Kitchen
Pasta Street
Dyu Art Cafe
Veena Stores
Truffles
Mudpipe Cafe
Chianti
Fabelle Chocolate Boutique...
Sharon Tea Stall
Bologna
Roots
Windmills Craftworks
Karavalli - The Gateway Hotel
Mainland China
Fava Bistro
Apsara Ice Creams
You Mee
Nasi And Mee
Lavonne
ECHOES Koramangala
The London Curry House -...
Meghana Foods
Sultans of Spice
Shao - Radisson Blu
Barbeque Nation
Bengaluru Cafe
Oota Bangalore
The Reservoire
Tipsy Bull - The Bar Exchange
Brik Oven
The Hobbit Cafe
BelgYum
Gilly's Restobar
Sly Granny - The Community...
Red Rhino
TBC Sky Lounge
Mahjong Room - WelcomHotel...
Caperberry
Lush - Renaissance Hotel...
Alba - JW Marriott Bengaluru
Karma Kaapi
Biergarten
Here & Now
Levitate Brewery and Kitchen
Toscano
Prost Brew Pub
Aligarh House
The Pancake Story
Natural Ice Cream
Bamboo Hut
Big Pitcher
Taaza Thindi
Chinita Real Mexican Food
Barbecue by Punjab Grill
Punjab Bistro
Social
Yauatcha
Namma SLN
Shakes Theory
Makers of Milkshakes
Smoor
eat.fit
Mugful Of Stories

In [12]:
res_titles=[res.text for res in titles]
res_titles[:5]  #list comprehension

['Loft',
 "Let's Souffle",
 'The Twisted Desi',
 'Brew and Barbeque - A...',
 'By Chance']

In [13]:
res_titles=[res.get_attribute('title') for res in titles]
res_titles[:5]

['Loft',
 "Let's Souffle",
 'The Twisted Desi',
 'Brew and Barbeque - A Microbrewery Pub',
 'By Chance']

In [14]:
location=browser.find_elements_by_css_selector('div.nowrap.grey-text.fontsize5.ttupper')
#if class name is seperated by space use . inbetween

In [15]:
len(location)

153

In [16]:
res_locations=[res.text for res in location]
res_locations[:5]

['KORAMANGALA 6TH BLOCK, BANGALORE',
 'KORAMANGALA 5TH BLOCK, BANGALORE',
 'INDIRANAGAR, BANGALORE',
 'SOUL SPACE ARENA MALL, MARATHAHALLI, BANGALORE',
 'BRIGADE ROAD, BANGALORE']

In [17]:
a_tags=browser.find_elements_by_css_selector('a.relative.top-res-box-bg.pl10.ptop0')
len(a_tags)

153

In [18]:
res_url=[tag.get_attribute('href') for tag in a_tags]
res_url[:5]

['https://www.zomato.com/bangalore/loft-koramangala-6th-block-bangalore?zrp_bid=303385&zrp_pid=14&zrp_cid=361818',
 'https://www.zomato.com/bangalore/lets-souffle-koramangala-5th-block-bangalore?zrp_bid=293273&zrp_pid=14&zrp_cid=356362',
 'https://www.zomato.com/bangalore/the-twisted-desi-indiranagar-bangalore?zrp_bid=267611&zrp_pid=14&zrp_cid=343069',
 'https://www.zomato.com/bangalore/brew-and-barbeque-a-microbrewery-pub-marathahalli-bangalore?zrp_bid=304767&zrp_pid=14&zrp_cid=362424',
 'https://www.zomato.com/bangalore/by-chance-brigade-road-bangalore?zrp_bid=279150&zrp_pid=14&zrp_cid=348492']

In [19]:
restaurants=pd.DataFrame({'title':res_titles,'location':res_locations,'Url':res_url})

In [20]:
restaurants.shape

(153, 3)

In [21]:
restaurants.head(10)

,title,location,Url
0,Loft,"KORAMANGALA 6TH BLOCK, BANGALORE",https://www.zomato.com/bangalore/loft-koramang...
1,Let's Souffle,"KORAMANGALA 5TH BLOCK, BANGALORE",https://www.zomato.com/bangalore/lets-souffle-...
2,The Twisted Desi,"INDIRANAGAR, BANGALORE",https://www.zomato.com/bangalore/the-twisted-d...
3,Brew and Barbeque - A Microbrewery Pub,"SOUL SPACE ARENA MALL, MARATHAHALLI, BANGALORE",https://www.zomato.com/bangalore/brew-and-barb...
4,By Chance,"BRIGADE ROAD, BANGALORE",https://www.zomato.com/bangalore/by-chance-bri...
5,Output Bengaluru,"SOUL SPACE ARENA MALL, MARATHAHALLI, BANGALORE",https://www.zomato.com/bangalore/output-bengal...
6,The Pallet,"WHITEFIELD, BANGALORE",https://www.zomato.com/bangalore/the-pallet-wh...
7,Olive Bar And Kitchen,"RICHMOND ROAD, BANGALORE",https://www.zomato.com/bangalore/olive-bar-and...
8,ShakesBierre,"EVA MALL, BRIGADE ROAD, BANGALORE",https://www.zomato.com/bangalore/shakesbierre-...
9,The Pizza Bakery,"INDIRANAGAR, BANGALORE",https://www.zomato.com/bangalore/the-pizza-bak...

In [22]:
url=restaurants.iloc[0]['Url']
browser.get(url) #opening the first url

In [23]:
url

'https://www.zomato.com/bangalore/loft-koramangala-6th-block-bangalore?zrp_bid=303385&zrp_pid=14&zrp_cid=361818'

In [24]:
#from this we can get user profile, how many reiews they have given, rating, how many followers

In [25]:
#reviewer_name=browser.find_elements_by_css_selector('a[data-entity_id]')
#len(reviewer_name)
#names=[tag.text for tag in reviewer_name]
#names

['Suman Varandani',
 'Shivika',
 'Bhavyashree Naidu',
 'Sahil Shekar',
 'Divya Srivastava [Kitchen Queen]',
 'Disha Premkumar',
 'Aniket Kolambkar',
 'Anupama Ray',
 'Manisha Tripathy',
 'Gaurav Gupta']

In [28]:
reviewer_name=browser.find_elements_by_css_selector('a[data-entity_id]')
names=[tag.text for tag in reviewer_name]

rev_tags=browser.find_elements_by_css_selector('div.rev-text')
#len(rev_tags)
ratings=[]
reviews=[]
for tag in rev_tags:
    rating=tag.find_element_by_css_selector('div').get_attribute('aria-label')
    ratings.append(rating)
    
    review=tag.text
    reviews.append(review)
reviews=pd.DataFrame({'name':names,'review':reviews,'rating':ratings})
reviews.head()

,name,review,rating
0,Suman Varandani,"RATED\n Good food, nice place to hangout. The...",Rated 4.0
1,Shivika,RATED\n A good place to be. Nice vibes and ve...,Rated 4.0
2,Bhavyashree Naidu,RATED\n I and my friends friends went here fo...,Rated 4.0
3,Sahil Shekar,RATED\n This place is AMAZING! Extremely well...,Rated 5.0
4,Divya Srivastava [Kitchen Queen],RATED\n Zee loft is my go to place for partyi...,Rated 4.0

In [ ]:
df_reviews=pd.DataFrame()
for restaurant in restaurants.iterrows():
    url=restaurant['url']
    browser.get(url)
    ##get reviews form this url
    #append the dataframe ro df_reviews